<header>
  <h1>{{pagetitle}}</h1>
  <p><a href="/home">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/location">Location<a></p>
  <p><a href="/ProductIdentifier">Product video searcher<a></p>
</header>
