<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <title>VISHNUPRIYA SAREES home</title>
  </head>


  <body>
    {{> header}}
    <p><a href="https://www.facebook.com/visnhupriyasarees">facebook page</a></p>
    <p><a href="/">ML page</a></p>
    <p>{{pagecontent}}</p>
  </body>
  {{> footer}}
</html>
