<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>VISHNUPRIYA SAREES location</title>
  </head>
  <body>
    {{> header}}

    <p>{{BOLD city}}</p>
  </body>
  {{> footer}}
</html>
