<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>VISHNUPRIYA SAREES home</title>
  </head>
  <body>
    {{> header}}
    <p>We will be Right Back</p>
  </body>
  {{> footer}}
</html>
